/* Login.css */
.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
  }
  
  .login-form .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .login-form .close-button:hover {
    cursor: pointer;
    background-color: #b97979;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form .form-group input::placeholder {
    color: #999; /* Placeholder text color */
  }
  
  .login-form button[type="submit"] {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  