/* SignUpForm.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.sign-up-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}

.sign-up-form .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sign-up-form .close-button:hover {
  cursor: pointer;
  background-color: #b97979;
}

.sign-up-form h2 {
  margin-bottom: 20px;
}

.sign-up-form .form-group {
  margin-bottom: 15px;
}

.sign-up-form .form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-form .form-group input::placeholder {
  color: #999; /* Placeholder text color */
}

.sign-up-form .error-message {
  color: red;
  margin-bottom: 15px;
}

.sign-up-form button[type="submit"] {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.sign-up-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.sign-up-form p {
  margin-top: 10px;
  text-align: center;
}
