/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #be4444; */
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .home-container .btn {
    background-color: white;
    color: #be4444;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-container .btn:hover {
    background-color: #f5c6c6;
  }