/* SignInForm.css */
.sign-in-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the form appears above other content */
  }
  
  .sign-in-form h2 {
    margin-bottom: 10px;
  }
  
  .sign-in-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-in-form button:hover {
    background-color: #0056b3;
  }
  